///////////////////////////////////////////
///1.Patron de colores
///////////////////////////////////////////
$principal: #29d;
$secundario: #B5B4B4; 
$texto: #494949;

///////////////////////////////////////////
///2.Modificacion de variables de bootstrap
/// //////////////////////////////////////
$primary: $principal; //Color principal 
$secundary:$secundario; //Color secundario
$font-family-base: 'Lato', sans-serif; //Tipo de letra general
$body-color: $texto; //Color del texto general
$font-size-root:15px; //Tañado del texto general
$enable-negative-margins: true;


///////////////////////////////////////////
///Componente Navbar
/// //////////////////////////////////////
$navbar-toggler-padding-y:0;
$navbar-toggler-padding-x:0;
$navbar-toggler-focus-width:0;
$navbar-dark-color: #fff;
$navbar-dark-hover-color: $principal;
$navbar-dark-active-color: $principal;

///////////////////////////////////////////
///Componente Buttons
/// //////////////////////////////////////
$btn-border-radius: .2rem;
$btn-padding-y: .8rem;
$btn-padding-x: .8rem;


@import "../libs/bootstrap/scss/bootstrap";


///////////////////////////////////////////
///Estilos generales 
/// //////////////////////////////////////
@media (min-width:768px){
    :root {
        font-size: 16.5px;
    }
}

///////////////////////////////////////////
///Estilos para encabezado 
/// //////////////////////////////////////
.encabezado{
//background-image: url("../images/bgSpaceMobile.jpg");
//background-position: center center;
//background-size: cover;
//background-attachment: fixed;
background: url("../images/bgSpaceMobile.jpg") center center/cover fixed;

}

@media (min-width:768px){
    .encabezado{
        background: url("../images/bgSpaceLg3.jpg") center center/cover fixed;
    }    

}