<footer class="pieDePagina bg-dark pt-5 text-white">
    <div class="container">
        <div class="row text-center text-lg-start">
            <div class="col-12 col-sm-6 col-lg-3 mb-5 mb-lg-0">
                <img src="../../../assets/images/Logos/LogoComputelematic.png" width="80" higth="auto"
                    alt="Logo de empresa" />
                <ul class="list-unstyled my-4 fw-bold d-grid gap-2">
                    <li>
                        <a href="mailto:info@computelematic.com">info&#64;computelematic.com</a>
                    </li>
                    <li>
                        <a href="https://api.whatsapp.com/send/?phone=573107024359&text=¡Hola!, vengo del sitio web Computelematic, desearía me pueda brindar más información"
                            target="_blank">(+57)310 702 4359</a>
                    </li>
                </ul>
                <ul class="redesSociales list-inline">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/COMPUTELEMATIC/" target="_blank"><i
                                class="bi bi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_blank"><i class="bi bi-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-lg-2 mb-5 mb-lg-0 ms-lg-auto">
                <h5 class="fw-bold mb-4">Servicios</h5>
                <ul class="list-unstyled d-grid gap-2">
                    <li><a href="#">Soporte técnico</a></li>
                    <li><a href="#">Diseño gráfico</a></li>
                    <li><a href="#">Programación</a></li>
                    <li><a href="#">Marketing</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-lg-2 mb-5 mb-lg-0">
                <h5 class="fw-bold mb-4">Nosotros</h5>
                <ul class="list-unstyled d-grid gap-2">
                    <li><a href="#">Proyectos</a></li>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Misión</a></li>
                    <li><a href="#">Visión</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-lg-2 mb-5 mb-lg-0">
                <h5 class="fw-bold mb-4">Contacto</h5>
                <ul class="list-unstyled d-grid gap-2">
                    <li><a href="#">Cotización</a></li>
                    <li><a href="#">Soporte</a></li>
                    <li><a href="#">Foros</a></li>
                    <li><a href="#">Chat</a></li>
                </ul>
            </div>
        </div>
        <p class="creditos mt-lg-4 mb-0 py-4 text-center text-muted small">
            Copyright 2024 computelematic.com. Todos los derechos reservados
        </p>
    </div>
</footer>