<!--INICIO ENCABEZADO-->
<app-header></app-header>
<!--FINAL ENCABEZADO-->

<!--Inicio Objetivos generales Nuestro objetivo es materializar tus ideas y proyectos-->
<app-objetivos-generales></app-objetivos-generales>
<!--Final Objetivos generales Nuestro objetivo es materializar tus ideas y proyectos-->

<!--Inicio seccion boletin de Ofertas-->
<app-boletin-ofertas></app-boletin-ofertas>
<!--Final seccion boletin de Ofertas-->

<!--Inicio seccion de productos y servicios-->
<app-productos-servicios></app-productos-servicios>
<!--Final seccion de productos y servicios-->

<!--Inicio pie de pagina-->
<app-pie-de-pagina></app-pie-de-pagina>
<!--Final pie de pagina-->