<main class="objetivosGenerales py-5">
    <div class="container">
        <header class="text-center mb-5">
            <h1 class="display-5 fw-bold tituloConLinea">
                Nuestro objetivo es materializar tus ideas y proyectos
            </h1>

            <p class="my-0 text-secondary">
                Especializados en brindarte soluciones oportunas a tus necesidades,
                contando con un amplio portafolio de productos y servicios para tu
                empresa u hogar
            </p>
        </header>
        <div class="row text-center">
            <div class="col-12 col-md-4 mb-3">
                <article class="objetivosGeneralesItem border rounded-3 px-4 py-5 h-100">
                    <img src="" alt="" width="auto" height="70" class="bi bi-pc-display-horizontal display-2" />
                    <h2 class="fw-bold my-3">Servicios y Tecnología</h2>
                    <p>
                        Te brindamos productos y servicios para que cuentes con
                        herramientas eficaces que se adapten a tus requerimientos
                    </p>
                    <a href="#" class="fw-bold">Más información</a>
                </article>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <article class="objetivosGeneralesItem border rounded-3 px-4 py-5 h-100">
                    <img src="" alt="" width="auto" height="70" class="bi bi-pencil-square display-2" />
                    <h2 class="fw-bold my-3">Diseño y Marketing</h2>
                    <p>
                        Ayudamos a impulsar tu idea, y plasmarla en los diferentes
                        medios de comunicación según tu objetivo
                    </p>
                    <a href="#" class="fw-bold">Más información</a>
                </article>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <article class="objetivosGeneralesItem border rounded-3 px-4 py-5 h-100">
                    <img src="" alt="" width="auto" height="70" class="bi bi-headset display-2" />
                    <h2 class="fw-bold my-3">Atención al cliente</h2>
                    <p>
                        Tu atención y un trato digno, siempre será primordial; nada
                        mejor que tengas información clara y oportuna por parte de
                        nuestro gran equipo
                    </p>
                    <a href="#" class="fw-bold">Más información</a>
                </article>
            </div>
        </div>
    </div>
</main>