<section class="productosServicios text-center pt-5">
    <div class="container">
        <header class="mb-5">
            <a name="ancProdServ">
                <h1 class="display-5 fw-bold tituloConLinea">
                    Productos y Servicios de nuestra empresa
                </h1>
            </a>
        </header>
    </div>
    <div class="container-fluid p-0">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-0">
            <div id="computadores" class="col itemProdSer">
                <img src="../../../assets/images/secProdSerIndex/catComputadores.jpg" alt="Computadores" width="100%"
                    height="auto" />
                <a href="#">
                    <h3>Computadores</h3>
                </a>
            </div>
            <div id="impresoras" class="col itemProdSer">
                <img src="../../../assets/images/secProdSerIndex/catImpresoras.jpg" alt="Impresoras" width="100%"
                    height="auto" />
                <a href="#">
                    <h3>Impresoras</h3>
                </a>
            </div>
            <div id="celulares" class="col itemProdSer">
                <img src="../../../assets/images/secProdSerIndex/catCelulares.jpg" alt="Celulares" width="100%"
                    height="auto" />
                <a href="#">
                    <h3>Celulares</h3>
                </a>
            </div>
            <div id="tablets" class="col itemProdSer">
                <img src="../../../assets/images/secProdSerIndex/catTablets.jpg" alt="Tablets" width="100%"
                    height="auto" />
                <a href="#">
                    <h3>Tablets</h3>
                </a>
            </div>
            <div id="videoJuegos" class="col itemProdSer">
                <img src="../../../assets/images/secProdSerIndex/catVideojuegos.jpg" alt="Videojuegos" width="100%"
                    height="auto" />
                <a href="#">
                    <h3>Videojuegos</h3>
                </a>
            </div>
            <div id="sistemasDePuntoDeVenta" class="col itemProdSer">
                <img src="../../../assets/images/secProdSerIndex/catPuntosDeVenta.jpg" alt="Sistemas punto de venta"
                    width="100%" height="auto" />
                <a href="#">
                    <h3>Sistemas punto de venta</h3>
                </a>
            </div>
            <div id="camarasDeVigilancia" class="col itemProdSer">
                <img src="../../../assets/images/secProdSerIndex/catCamarasDeSeguridad.jpg" alt="Camaras de vigilancia"
                    width="100%" height="auto" />
                <a href="#">
                    <h3>Cámaras de vigilancia</h3>
                </a>
            </div>
            <div id="seguridadYTelecomunicaciones" class="col itemProdSer">
                <img src="../../../assets/images/secProdSerIndex/catTelecomunicaciones.jpg"
                    alt="Seguridad y telecomunicaciones" width="100%" height="auto" />
                <a href="#">
                    <h3>Seguridad y telecomunicaciones</h3>
                </a>
            </div>
            <div id="accesoriosDeTecnologia" class="col itemProdSer">
                <img src="../../../assets/images/secProdSerIndex/catAccesoriosTecnologia.jpg"
                    alt="Accesorios de tecnologia" width="100%" height="auto" />
                <a href="#">
                    <h3>Accesorios de tecnología</h3>
                </a>
            </div>
            <div id="insumosParaImpresoras" class="col itemProdSer">
                <img src="../../../assets/images/secProdSerIndex/catImsumosImpresoras.jpg" alt="Insumos para impresoras"
                    width="100%" height="auto" />
                <a href="#">
                    <h3>Insumos para impresoras</h3>
                </a>
            </div>
            <div id="equiposDeSublimacion" class="col itemProdSer">
                <img src="../../../assets/images/secProdSerIndex/catEquiposDeSublimacion.jpg"
                    alt="Equipos de sublimacion" width="100%" height="auto" />
                <a href="#">
                    <h3>Equipos de sublimación</h3>
                </a>
            </div>
            <div id="soporteTecnico" class="col itemProdSer">
                <img src="../../../assets/images/secProdSerIndex/catSoporteTecnico.jpg" alt="Soporte tecnico"
                    width="100%" height="auto" />
                <a href="#">
                    <h3>Soporte técnico</h3>
                </a>
            </div>
            <div id="diseñoGrafico" class="col itemProdSer">
                <img src="../../../assets/images/secProdSerIndex/catDiseñoGrafico.jpg" alt="Diseño grafico" width="100%"
                    height="auto" />
                <a href="#">
                    <h3>Diseño gráfico</h3>
                </a>
            </div>
            <div id="programacionDeSoftware" class="col itemProdSer">
                <img src="../../../assets/images/secProdSerIndex/catProgramacionDeSoftware.jpg"
                    alt="Programación de software" width="100%" height="auto" />
                <a href="#">
                    <h3>Programación de software</h3>
                </a>
            </div>
            <div id="marketing" class="col itemProdSer">
                <img src="../../../assets/images/secProdSerIndex/catMarketingDigital.jpg" alt="Marketing" width="100%"
                    height="auto" />
                <a href="#">
                    <h3>Marketing</h3>
                </a>
            </div>
        </div>
    </div>
</section>